 section {
            background-color: black;
        }
        
        img {
            box-shadow: rgba(49, 63, 150, 0.16) 0px 1px 4px, rgb(17, 0, 255) 0px 0px 0px 5px;
        }
        
        @media all {
            /* CSS styles for screens with a maximum width of 768px or smaller */
            section {
                background-color: rgb(0, 0, 0); /* Change the background color for smaller screens */
            }
            
            img {
                box-shadow: none; /* Remove the box shadow for smaller screens */
            }
        }